Начальный DaraFrame: :arrow_up:[dst-3.0_16_1_hh_database.csv](https://drive.google.com/file/d/1SMj5mBLd9f9AV9KPk0uA4DS421gzKtvF/view?usp=sharing)
DataFrame c курсом валют: :arrow_up:[ExchangeRates.csv](https://drive.google.com/file/d/154s3OiiCzwm6ib1ca5kBhWoItRZD-ker/view?usp=sharing)
Итоговый DaraFrame: :arrow_up:[hh_data_cltaned.csv](https://drive.google.com/file/d/1I1wSvLtWdmsgtU0rtnKkhv9nEoY2gP7d/view?usp=sharing)
